@font-face {
  font-family: 'pippins';
  src: url('./fonts/poppins/Poppins-Bold.ttf') format('truetype');
  src: url('./fonts/poppins/Poppins-Light.ttf') format('truetype');
  /* src: url('./fonts/poppins/Poppins-Medium.ttf') format('truetype'); */
  /* src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype'); */
  /* src: url('./fonts/poppins/Poppins-SemiBold.ttf') format('truetype'); */
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto/Roboto-Bold.ttf') format('truetype');
  src: url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
  src: url('./fonts/Roboto/Roboto-Thin.ttf') format('trutype');
}

body {
  background-image: url('./resources/background.jpg');
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./resources/background.jpg');
  font-family: 'pippins' !important;
  color: white;
}

.navbar h1 {
  font-size: 20px;
}

.chat {
  background-color: rgb(241, 99, 99);
  width: 80%;
  height: 550px;
  margin: auto;
  border: 2px solid white;
}

.chat-baner {
  display: flex;
  background-color: #fafafa;
  justify-content: center;
  margin-top: 20px;
}

.chat-baner-icon {
  margin: 10px;
}

.chat-baner-info {
  width: 100%;
  height: 430px;
  margin: 10px;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 30px;
  background-image: url('./resources/espacio1.jpeg');
  color: white;
  -webkit-text-stroke: 0.5px;
  -webkit-text-stroke-color: blueviolet;
}

.chat-baner-info span {
  font-weight: bold;
}

.chat-baner-info a {
  color: rgb(0, 89, 255);
}

.chat-baner-info-buttons button {
  border: 1px solid black;
  margin-right: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
}

.chat-asistent {
  width: 97%;
  display: flex;
  margin: 10px;
  align-items: start;
  white-space: pre-line;
  background-color: #fafafa;
  border: 2px solid black;
  border-radius: 10px;

}

.chat-asistent span {
  width: 90%;
  padding: 5px;
  color: black;
  border-radius: 10px;
  /* text-overflow: scroll; */
  margin-left: 10px;
  word-break: break-word;
  white-space: break-spaces;
}

.chat-user {
  width: 97%;
  display: flex;
  margin: 10px;
  align-items: start;
  background-color: rgb(105, 60, 122);
  border: 1px solid black;
  border-radius: 10px;
  padding: 5px;
  color: white;
}

.chat-user span {
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  color: white;
  margin-left: 10px;
  font-size: 16px;
  /* text-overflow:hidden; */
}

.chat-messages {
  width: 100%;
  height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-input {
  width: 100%;
  display: flex;
  justify-content: center;
}

.chat-input input {
  width: 90%;
  height: 40px;
  margin-left: 10px;
  border: 1px solid black;

}

.chat-input button {
  width: 95px;
  height: 45px;
  margin-right: 10px;
  background-color: rgb(105, 60, 122);
  color: #fafafa;
  border: 2px solid black;
}

@media(max-width:600px) {
  .chat {
    width: 100%;
    height: 100%;
  }

  .chat-messages {
    width: 95%;
    height: 80vh;
    background-color: rgb(241, 99, 99);
    word-break: break-word;
    /* text-overflow:ellipsis; */
    /* white-space: break-spaces; */
  }

  .chat-baner {
    height: 50%;
  }

  .chat-baner-info-buttons button {
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .chat-input {
    position: absolute;
    bottom: 10px;
  }

  


}